
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'main/main.css' %}">

    
    {% block css %} {%endblock%}
    {% block js %} {% endblock %}
    <title>Document</title>
</head>

<body>

    <header>header</header>

    <main>
        {% block main %} {% endblock %}
        {% block card%} {%endblock%}
    </main>
    
    <footer>footer</footer>

</body>


</html>